@media (min-width: 1200px) {
    .container {
        width: 1600px!important;
    }
}
html, body{
    min-height: 100%
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#world-map {
    height: 640px;
    /* width: 960px; */
    width: 100%;
    float: left;
}

#world-map .leaflet-map-pane {
    transform: translate3d(36px, -52px, 0px) !important;
}

/* #year-month-slider {
    width: 100%;
    float:left;
} */

#left {
    position:absolute;
    width:960px;
    left:10px;
    top:100px;
}

#right {
    position: absolute;
    width: 640px;
    left: 1210px;
    top: 100px;
}

#spiral-1, #spiral-2 {
    position: relative;
}

#spiral-1 > figure, #spiral-2 > figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#current-date {
    font-size:22px;
    float:left;
    width:10%;
}

/* #play {
    margin-left: 250px;
} */

.top-buffer { margin-top:20px; }
.top-buffer-10 { margin-top:10px; }
.top-buffer-65 { margin-top:65px; }
/* #controls { margin-top:53px; } */