html, body{
    min-height: 100%
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#world-map {
    height: 800px;
    width: 1200px;
    float: left;
}

#world-map .leaflet-map-pane {
    transform: translate3d(0px, -52px, 0px) !important;
}

#year-month-slider {
    width: 100%;
}